#################
## Site specific
#################

# specific configs
specific.cfg.php

# temporary files
temp/*
cache/*

# phisical files
cloud/files/*

# do not track
*.temp
*.notrack
*.sublime-project
*.sublime-workspace

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini