#################
## Site specific
#################

# specific configs
specific.cfg.php

# temporary files
temp/*
cache/*

# phisical files
cloud/files/*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini