.clear{clear:both;}
.nowrap{white-space:nowrap;}
.center{text-align:center;}

body > .container{padding-top:60px;}
.container_login{padding:20% 0 0;}

footer{padding:0 0 10px;}
	footer .pull-right a{padding:0 0 0 8px;}

.navbar .origami_logo{float:left;display:block;padding:0;background-image:url(../images/best_tool_space_logos.png);background-repeat:no-repeat;}
	.nav_origami .dropdown-menu{min-width:100px;}
	.navbar .nav > li > .origami_logo{margin:0 20px 0 0;padding:0;}
	.navbar li ul .origami_logo{float:none;margin:7px 18px 6px 15px;}

	.navbar li ul .origami_logo:hover{background-color:transparent;}
	.navbar li ul li:hover{background:#eee}


	.navbar .logo_origami{width:92px;height:36px;background-position:-215px -58px;}
		.navbar li ul .logo_origami{margin-left:16px;background-position:-215px -8px;}
	.navbar .logo_cloud{width:94px;height:24px;background-position:-107px -67px;}
		.navbar li ul .logo_cloud{margin-top:19px;background-position:-107px -17px;}
	.navbar .logo_ninja{width:82px;height:34px;background-position:-321px -60px;}
		.navbar li ul .logo_ninja{margin-left:25px;margin-top:15px;background-position:-321px -10px;}
	.navbar .logo_best{width:88px;height:45px;background-position:-5px -55px;}
		.navbar li ul .logo_best{margin-left:18px;margin-top:0px;background-position:-5px -5px;}
	
	.dropdown .logo_origami .caret{margin:18px 0 10px 100px;}

/*loading*/
.loader{background:url(../images/loader.gif) 50% 50% no-repeat;min-height:31px;min-width:31px;}
.modal .loader{padding:10px 0;}

/*highlight name in header*/
.navbar .nav.pull-right .dropdown a b.name{color:#fff;}

/*change modal properties*/
.modal{width:800px;margin:-250px 0 0 -400px;}

/*change file details modal properties*/
.table-file-details td:first-child{text-align:right;font-weight:bold;}

/*hide tags*/
.table-search-results td .search-results-tags{margin:3px 0 0;}
.table-search-results td button{opacity:0.3;filter:alpha(opacity=30);}
.table-search-results td:hover button{opacity:1;filter:alpha(opacity=100);}
.table-search-results td:last-child{text-align:right;}

/*fugue icons*/
span.fugue{display:block;}
span.fugue:before{content:"";display:block;width:16px;height:16px;float:left;background-image:url(../images/fugue_icons.png);background-repeat:no-repeat;}
span.fugue-minus-circle:before{background-position:0 -16px;}
span.fugue-exclamation:before{background-position:0 0;}

/*table sorting*/
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc {
    cursor: pointer;
    *cursor: hand;
    padding-right: 20px;
}
 
table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

/*Tags*/
.controls{position:relative;}
#search_tags{position:absolute;top:4px;z-index:99;}
#search_tags a{float:left;margin:0 3px;}

/*Big icons*/
.icon-big{width:26px;height:26px;display:inline-block;}
	.icon-big.icon-arrow-up{background:url('../images/icons-big/glyphicons_213_up_arrow.png') 50% 50% no-repeat;}
	.icon-big.icon-plus-sign{background:url('../images/icons-big/glyphicons_190_circle_plus.png') 50% 50% no-repeat;}


/*File types*/
.thumbnail{position:relative;}
.thumbnail-box{width:330px;min-height:330px;max-height:360px;color:#666;}
	.thumbnail-box .textrow{padding:4px 0 0 45px;line-height:30px;}
		.thumbnail-box .textrow .icon-big{opacity:0.6;margin:-6px 4px 0 0;}
		.thumbnail-box .textrow .icon-plus-sign{cursor:pointer;}
	.thumbnail-box .textrow1{}
	.thumbnail-box .textrow1:first-child{padding-top:0;}
	.thumbnail-box .textrow2{}
	.thumbnail-box .textrow2:first-child{padding-top:135px;}

	.thumbnail-box .progress_bar_text{position:absolute;top:28px;left:4px;padding:0;z-index:10;}
	.thumbnail-box .progress{line-height:18px;}

	.thumbnail_content{text-align: center;z-index:5;}
	.thumbnail_action{z-index:15;}
	.thumbnail_action .thumbnail_overlay{position:absolute;top:0;left:0;width:330px;height:330px;background:#fff;opacity:0.7;}
	.thumbnail_action .btn-group{position:absolute;top:150px;left:10px;width:330px;}

/*File dropzone*/
#file_dropzone.in{
    background:#ccc;
}
#file_dropzone.hover{
    background:#ddd;
}
#file_dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/* Make right tabs to look like they are one entire piece with tab content*/
.tabbable.tabs-right > .nav-tabs{margin:4px 0 0 -1px;}
	.tabbable.tabs-right > .nav-tabs .active{position:relative;}
		.tabbable.tabs-right > .nav-tabs .active > a:before{content:"";width:1px;height:34px;background: #fff;position:absolute;left:-1px;top:1px;z-index:10;}
